@use '@angular/material' as mat;

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 30px;
  height: 100%;
}

html {
//   height: 100%;
    color-scheme: light dark;
    @include mat.theme((
    color: mat.$red-palette,
    typography: (
      plain-family: Roboto,
      brand-family: Open Sans,
      bold-weight: 900,
      medium-weight: 500,
      regular-weight: 300,
    ),
    density: 0,
  ));
}

a {
  text-decoration: none;
  color: inherit;
}