.shell-header {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
}

.nav a {
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 8px;
}

.nav a.active {
  background: #eee;
}

.shell-content {
  padding: 16px;
}

.nav-header {
  display: flex;
  align-items: center;
  gap: .25rem;
  margin: 0 0 0 .25rem;
  color: red;
  transform-origin: left center; // Keep left edge fixed
  transform: scale(1.35);
}

.nav-header mat-icon {
  // transform-origin: left; // Keep left edge fixed
  transform: scale(.67);
}

mat-sidenav-container {
  border-radius: 16px;
  overflow: hidden;
}

mat-sidenav {
  margin: 0px 0px -1px -2px;
  border-radius: 18px;
  box-shadow: 0 18px 40px rgba(0,0,0,.18);
}

mat-sidenav[position="end"] {
  border-radius: 0 16px 16px 0;
}

mat-list-item {
  cursor: pointer !important;
} 

.mat-drawer-inner-container {
  border-radius: inherit;
}

.nav-sidebar {
    // height: 1000px;
    padding: 1rem;
    background-color: rgb(252, 249, 249);
}

.side-nav-container {
   position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.semi-strong {
  font-weight: 300; /* Represents semibold */
  font-size: 1.25rem;
}